@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1a202c; /* Dark background color */
    font-family: 'Roboto', sans-serif; /* Optional: Adjust font family */
    color: #e2e8f0; /* Text color for better contrast */
}
